#### Importanto dados do Kaggle

In [34]:
import kagglehub as kag 
import pandas as pd

In [24]:
path = kag.dataset_download("mlg-ulb/creditcardfraud")

In [25]:
file_csv = f"{path}/creditcard.csv"

In [26]:
df = pd.read_csv(file_csv)

In [27]:
df.columns

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

In [28]:
df.columns.shape[0]

31

In [41]:
df_count_class = pd.DataFrame(df.Class.value_counts().reset_index())
df_count_class.columns = ['Classes', 'Frequência']
df_count_class

   Classes  Frequência
0        0      284315
1        1         492